:root {
    --font-family: "Poppins", sans-serif;

    --base-100: #f3f4f6;
    --base-200: #e5e7eb;
    --base-300: #d1d5db;
    --base-foreground: #111827;

    --primary: #f1361b;
    --primary-foreground: #f3f4f6;

    --accent: #CBD5E1;
    --accent-foreground: #020617;

    --muted: #4b5563;
    --muted-foreground: #f9fafb;
}
